<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[?= title ?]</title>
    <link rel="shortcut icon" href="[?= blog.logo ?]" type="image/png">
    <link rel="stylesheet" href="/default.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo-wrapper">
                <img src="[?= blog.logo ?]" alt="" class="logo">
            </div>
            <div class="blog-title-wrapper">
                <h2 class="blog-title">
                    [?= blog.title ?]
                </h2>
                <p class="blog-tagline">
                    [?= blog.tagline ?]
                </p>
                [? if (isHome) { ?]
                <div class="blog-meta-wrapper">
                    <span class="meta-post-count">
                        [?= blog.post_count ?] posts
                    </span> &middot;
                    <span class="meta-follower-count">
                        [?= blog.follower_count ?] followers
                    </span>
                </div>
                <div class="btn-follow-wrapper">
                    <button class="btn-follow">Follow</button>
                </div>
                [? } ?]
            </div>
        </div>
        <nav class="navbar">
            <button class="btn-navbar-toggle" type="button">
                Menu
            </button>
            <div class="navbar-menu-wrapper">
                <div class="navbar-menu">
                    <a class="navbar-link [?= isHome ? 'active' : '' ?]" href="/">Home</a>
                    [? for (let n of blog.navbarLink) { ?]
                    <a class="navbar-link [?= n.url === activeNavbar ? 'active' : '' ?]" href="[?= n.url ?]">
                        [?= n.title ?]
                    </a>
                    [? } ?]
                </div>
            </div>
        </nav>
    </header>
    <main>
        [?- body ?]
    </main>
</body>

</html>