svg {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar .container {
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar-wrapper {
    position: fixed;
    z-index: 2;
    margin-top: -19px;
}
@media (min-width: 576px) { 
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) { 
    .container {
        max-width: 960px;
    }
    #sidebar {
        display: block;
        height: auto;
        transition: none;
    }
    .sidebar-wrapper {
        margin-top: 0;
    }
}